Source: golang-github-go-errors-errors
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Rock Storm <rockstorm@gmx.com>
Build-Depends: debhelper (>= 11),
               dh-golang,
               golang-any
Standards-Version: 4.1.1
Homepage: https://github.com/go-errors/errors
#Vcs-Browser:
#Vcs-Git:
XS-Go-Import-Path: github.com/go-errors/errors
Testsuite: autopkgtest-pkg-go

Package: golang-github-go-errors-errors-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Errors with stacktraces for Go
 This library adds stacktrace support to errors in go. This is particularly
 useful when you want to understand the state of execution when an error was
 returned unexpectedly.
 .
 It provides the type *Error which implements the standard golang error
 interface, so you can use this library interchangeably with code that is
 expecting a normal error return.
